a {
    color: #93BFCF;
}

body {
    background-color: #EEE9DA;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.coding-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.gaming-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

h1 {
    color: #6096B4;
    font-family: 'Kaushan Script', cursive;
    font-size: 5.625rem;
    margin-top: 50px;
}

h2 {
    color: #6096B4;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #93BFCF;
    font-family: 'Montserrat', sans-serif;
}

.profile-pic {
    padding-top: 30px;
    width: 200px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.top-container {
    background-color: #93BFCF;
    position: relative;
    padding-top: 100px;
}
